.nav-button {
    -fx-background-radius: 0;
    -fx-background-size: 60, 60;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.nav-item{
    -fx-background-color: #B3B3B3;
}

.nav-button:hover{
    -fx-background-color: linear-gradient(to right, #B3B3B3, #C3C3C3);
}

.nav-button:pressed{
    -fx-background-color: linear-gradient(to right, #B3B3B3, #CFCFCF);
}

.settings-button {
    -fx-background-image: url("../image/settings.png");
}

.info-button {
    -fx-background-image: url("../image/info.png");
}

.account-button {
    -fx-background-image: url("../image/account.png");
}

.home-button {
    -fx-background-image: url("../image/home.png");
}